<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.rose.demo.module.mybatis.mapper.UserMapper">



    <select id="selectByPrimaryKey" resultType="com.small.rose.demo.module.mybatis.entity.Tuser">
        select * from T_USER where id = #{id}
    </select>
    <select id="selectAll" resultType="com.small.rose.demo.module.mybatis.entity.Tuser">
        select * from T_USER
    </select>

    <update id="updateByPrimaryKey" parameterType="com.small.rose.demo.module.mybatis.entity.Tuser">
        update T_USER t set t.USER_NAME = #{record.userName}, t.DESCMARK = #{record.descmark} where id = #{record.id}
    </update>
</mapper>
